# Copyright Luc ROBERT--VILLANUEVA 2026
# Distributed under the Boost Software License, Version 1.0
# (See accompanying file LICENSE or copy at https://www.boost.org/LICENSE_1_0.txt)

# How long grub wait before booting default menu entry; change it if you want to use GRUB shell
set timeout=0

insmod all_video
insmod multiboot2

menuentry "Basic Operating System (x86)" {
    multiboot2 /boot/kernel.elf
    boot
}
